* {
      box-sizing: border-box;
      font-family: "Raleway", sans-serif;
}

body {
      padding: 0;
      margin: 0;
}

/*---------nav bar styling--------------*/
.navbar {
      display: flex;
      justify-content: flex-end;
      padding: 20px;
      width: 100%;
      background-color: #BE3144;
      position: fixed;
      top: 0;
}

.navbar a {
      text-decoration: none;
      color: white;
      font-size: 22px;
      margin-left: 30px;
      margin-right: 20px;
      padding: 5px;
}

/*---------Welcome section styling--------------*/
.welcome-section {
      width: 100%;
      height: 100vh;
      background-color: #2C2E30;
      margin-top: 75px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.welcome-section h1 {
      color: #f0f0f0;
      font-size: 60px;
      font-weight: 700;
}

.welcome-section p {
      color: #be3144;
      font-size: 30px;
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      font-style: italic;
}

/*---------------styling project section------------------*/
.projects {
      width: 100%;
      background-color: #45567D;
      display: flex;
      flex-direction: column;
      align-content: space-around;
}

.projects h1 {
      display: block;
      color: #f0f0f0;
      width: 50%;
      margin: 30px auto 40px auto;
      font-size: 42px;
      padding: 20px;
      font-weight: 700;
      border-bottom: 2px solid #f0f0f0;
}

.projects div {
      margin-left: 25px;
      display: grid;
      grid-template-columns: 30% 30% 30%;
      grid-gap: 50px;
      margin-bottom: 60px;
}

.project-tile {
      display: block;
      text-decoration: none;
      width: 100%;
      background-color: #303841;
      border-radius: 3px;
      box-shadow: 2px 2px 5px #303841;
}

.project-tile img {
      width: 100%;
      height: 85%;

}

.project-tile p {
      color: #f0f0f0;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      text-align: center;

}

.span-hover {
      color: #303841;
      transition: color 0.3s ease-out;
}

.project:hover .span-hover {
      color: #ff7f50;
}

.projects .show-all {
      display: block;
      align-self: center;
      padding: 15px;
      text-decoration: none;
      color: #f0f0f0;
      font-size: 20px;
      margin-bottom: 70px;
      border: 0.5px solid black;
      background-color: #303841;
}


/*------------------styling contact----------------------*/
.contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: #303841;
      height: 75vh;
}

.contact .contact-header {
      padding: 50px;
      margin-top: 30px;
}

.contact .contact-header h2 {
      color: #f0f0f0;
      font-size: 60px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 10px;
}

.contact .contact-header p {
      color: #f0f0f0;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      font-style: italic;
}

.contact .my-links a {
      text-decoration: none;
      font-size: 22px;
      color: #f0f0f0;
      margin-right: 20px;
      display: inline-block;
      transition: transform 0.5s ease-out;


}

.contact .my-links a:hover {
      transform: translateY(10px);


}

.contact .my-links a i {
      margin-right: 5px;
      font-size: 24px;
}
/*------------footer styling------------*/
.footer{
      width: 100%;
      padding:20px;
      border-top: 3px #be3144 solid;
      display: flex;
      justify-content: space-between;
      background-color: #303841;
      color: #f0f0f0;
      font-size: 18px;
}

.footer p{
      margin: 10px 20px 10px 20px;
}
footer p a{
      text-decoration: none;
      color: #f0f0f0;
      font-family: monospace;
}
/*for mobile*/
@media screen and (max-width:650px) {
      .navbar {
            justify-content: space-around;
            padding: 22px;

      }
      
      .navbar a {
            display: block;
            font-size: 18px;
            width: 33%;
            margin: auto;
      }
      /*-------------------------*/
      .welcome-section {
            height: 80vh;
            margin-top: 75px;

      }
      
      .welcome-section h1 {
            font-size: 36px;
            font-weight: 500;
      }
      
      .welcome-section p {
            font-size: 24px;

      }
      /*---------------------------*/
      .projects {
            width: 100%;
            background-color: #45567D;
            display: flex;
            flex-direction: column;
            align-content: space-around;
      }
      
      .projects h1 {
            width: 80%;
            font-size: 34px;
            padding: 10px;
            font-weight: 600;
            text-align: center;

      } 
      .projects div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 85%;
            margin-bottom: 25px;
      }
      .project-tile {
            width: 95%;
            
      }
      
      .project-tile img {
            width: 100%;
            height: 80%;
      
      }
      
      .project-tile p {
            font-size: 16px;
      
      }
      .projects .show-all {
            padding: 8px;
            font-size: 16px;
            margin-bottom: 20px;
      }
      /*----------------------------*/
      .contact {
            height: 70vh;
      }
      
      .contact .contact-header {
            padding: 10px;
      }
      
      .contact .contact-header h2 {
            font-size: 32px;
            font-weight: 600;
      }
      
      .contact .contact-header p {
            font-size: 16px;
      }
      .my-links {
            width: 80%;
            margin: 0 auto;
      }
      .contact .my-links a {
            font-size: 20px;
            margin-right: 8px;
            text-align: center;
            padding: 5px;
            width: 45%;
            transition: none;
      
      
      }
      .contact .my-links a:last-child {
width: 100%;
      
      
      }
      .contact .my-links a:hover {
            transform: none;
      
      }
      
      .contact .my-links a i {
            margin-right: 5px;
            font-size: 18px;
      }
      /*-------------------------*/
      .footer{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
      }
      
      .footer p{
            font-size: 16px;
            text-align: center;
      }
      footer p a{
            text-decoration: none;
            color: #f0f0f0;
            font-family: monospace;
      }
}
